<%- include('header'); -%>
<div class="result">
  <h1><%=cityName%></h1>
  <p><strong>Weather :</strong> <%=weatherDescription%></p>
  <p><strong>Temperature :</strong> <%=temp%> degrees Celcius</p>
  <img src="<%=imgurl%>" alt="">
</div>

<%- include('footer'); -%>
